# Register and export dynamic library with entry point
useDynLib(trend, F_pettitt = pettitt)

# Export specific functions
export(csmk.test, mk.test,
       partial.cor.trend.test, partial.mk.test,
       pettitt.test, smk.test, sea.sens.slope, sens.slope,
       print.trend.test, summary.trend.test) #, sea.sens.slope.xts)

importFrom("stats", "cor", "cycle", "frequency", "is.ts", "median",
     "na.fail", "pnorm", "pt", "qnorm", "ts", "tsp")
#importFrom("xts", "is.xts", "xts", "periodicity", ".indexmin", ".indexhour",
#      ".indexday", ".indexmon",  ".indexyear")
#import("zoo")
#importFrom("zoo", "week", "month", "index")
     

# S3 methods
S3method(print, trend.test)
S3method(summary, trend.test)
